body {
  background-color: greenyellow;
}
header {
  background-color: transparent;
}

#nav-bar {
  box-shadow: 10px 5px 5px rgb(87, 87, 87);
}
#navbar-1,
#navbar-2,
#navbar-3{
  height: 45vw;
  padding: 163px 0 0 0;
  background: #fff;
  background: -webkit-linear-gradient(#19A5B0 ,rgba(25, 165, 176, 0.65) ,#fff);
  background: -o-linear-gradient(#19A5B0 ,rgba(25, 165, 176, 0.65) ,#fff);
  background: -moz-linear-gradient(#19A5B0 ,rgba(25, 165, 176, 0.65) ,#fff);
  background: linear-gradient(#19A5B0 ,rgba(25, 165, 176, 0.65) ,#fff);
  background-image: url(../image/planet.png);
    width: 100%;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

#telContacto {
  padding-left: 13px;
  border-left: 1px solid #000;
  width: 30%;
  vertical-align: text-bottom;
  line-height: 40px;
}

.header {
  font-size: 40px;
}

.redes ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.redes ul li{
  margin: 0 15px;
}

@media only screen and (max-width: 600px){
  #recycle-man {
    width: 80%;
    height: auto;
  }
  #desktop_image{
    width: 50%;
    height: 80%;
  }
}